<html>
	<head></head>
	<body>
		<h2>Add Message</h2>
		<a href="/">Back to homepage</a>
		<form method="POST" action="/new">
			<label for="messageUser">Name: </label>
			<input id="messageUser" type="text" name="messageUser" />
			<label for="messageText">Message: </label>
			<input id="messageText" type="text" name="messageText" />
			<button id="submit" type="submit">Submit</button>
		</form>
	</body>
</html>
