<html>
	<head></head>
	<body>
		<h2>Add Message</h2>
		<a href="/">Back to homepage</a>
		<form method="POST" action="/new">
			<label for="name">Name: </label>
			<input id="name" type="text" name="name" />
			<label for="message">Message: </label>
			<input id="message" type="text" name="message" />
			<button id="submit" type="submit">Submit</button>
		</form>
	</body>
</html>
