<html>
	<head>
		<title>Homepage</title>
	</head>
	<body>
		<div>
			<h2>Message</h2>
			<a href="/">Back to homepage</a>
			<p>User: <%= message.user %> </p>
      <p>Time: <%= message.added.toLocaleString() %></p>
      <p>Message: <%= message.text %></p>
			</p>
		</div>
	</body>
</html>
